{% extends 'common/base.html' %}

{% block content %}


<div class="edit-profile-container">
    <div class="edit-profile-card">
        <h2>Edit Your Profile</h2>

        {% if form.instance.profile_picture %}
            <div class="profile-picture-display">
                <img src="{{ form.instance.profile_picture.url }}" alt="Profile Picture">
            </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data" class="edit-profile-form">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <p class="field-error">{{ field.errors }}</p>
                    {% endif %}
                </div>
            {% endfor %}

            <button class="submit-button" type="submit">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}
