{% extends 'common/base.html' %}
{% load static %}


{% block content %}
    <main>
        <!-- Start Profile Details Section -->
        <div class="profile">
            <!-- Start Profile Personal Data Section -->
            <div class="profile-data">
                <div class="profile_img">
                    <div class="image">
                        <!-- Profile Image -->
                        {% if user.profile.profile_picture %}
                            <img src="{{ user.profile.profile_picture }}"/>
                        {% else %}
                            <img src="{% static 'images/person.png' %}" alt="img8"/>
                        {% endif %}
                    </div>
                </div>
                <div class="personal">
                    <div class="edit">
                        <!-- User Username -->
                        <p>{{ user.profile.get_profile_names }}</p>

                        <!-- Link to Edit Profile Page -->
                        {% if request.user.pk == user.pk %}
                            <a href="{% url 'profile-edit' user.pk %}">
                                <img
                                        class="edit-img"
                                        src="{% static 'images/edit-pen-icon-6.jpg' %}"
                                        alt="edit button"
                                />
                            </a>

                            <!-- Link to Delete Profile Page -->
                            <a href="{% url 'profile-delete' user.pk %}">
                                <img
                                        class="bin-img"
                                        src="{% static 'images/icon-remove-22.jpg' %}"
                                        alt="bin button"
                                />
                            </a>
                        {% endif %}
                    </div>
                    <div class="data">
                        <!-- Total Number of Photos by the User -->
                        <span>{{ user.photos.count }}</span>
                        <p>photos</p>

                        <!-- Total Number of Pets owned by the User -->
                        <span>{{ user.pets.count }}</span>
                        <p>pets</p>

                        <!-- Total Number of Likes for the User -->
                        <span>{{ all_likes_count }}</span>
                        <p>likes</p>
                    </div>
                    <!-- User First and Last Name IF Added -->
                    <h3 class="names">{{ user.profile.get_full_name }}</h3>

                    <!-- User Email Address -->
                    <p class="email">{{ user.email }}</p>
                </div>
            </div>
            <!-- End Profile Personal Data Section -->

            <!-- Start Pets Data Section -->
            <div class="pets">
                <div class="statuses">
                    <!-- Start 1st Pet Details Page -->
                    <!-- Link to First Pet Details Page -->
                    {% for pet in user.pets.all %}
                        <a href="{% url 'details-pet' user.profile.get_profile_names pet.slug %}">
                            <div class="head-pet">
                                <div class="status">
                                    <div class="image">
                                        <!-- Pet Image -->
                                        <img
                                                src="{{ pet.personal_photo }}"
                                                alt="pet img"
                                        />
                                    </div>
                                </div>
                                <!-- Pet Name -->
                                <p>{{ pet.name }}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <!-- End Pets Data Section -->

            <!-- Start Last Uploaded Photos Section -->
            <div class="pet-photos">
                <!-- Link to Last Uploaded Pet Photo -->
                {% for photo in user.photos.all %}
                    <a href="{% url 'details-photo' photo.pk %}">
                        <!-- Pet Photo -->
                        <img
                                src="{{ photo.photo.url }}"
                                alt="pet img"
                        />
                    </a>
                {% empty %}
                    <img
                    class="no-posts"
                    src="{% static 'images/no_posts.png' %}"
                    alt="no posts"/>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}