{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <main>
        <!-- Start Edit Profile Section -->
        <div class="edit-delete">
            <h2>Edit Profile</h2>
            <!-- Start Edit Profile From -->
            <form method="post">
                {{ form }}
                {% csrf_token %}
                <!-- Edit Profile Button -->
                <button class="edit-btn" type="submit">Edit</button>
            </form>
            <!-- End Edit Profile Form -->
    
        </div>
        <!-- End Edit Profile Section -->
    </main>
{% endblock %}

