{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="col-9-details">
            <!-- Start Pet Photo Post Section -->
            <div class="card">
                <div class="top">
                    <!-- Start User Details and Image Location Section -->
                    <div class="userDetails-photo">
                        <a href="#" class="image-username">
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        {% if photo.user.profile.profile_picture %}
                                            <img src="{{ photo.user.profile.profile_picture.url }}">
                                        {% else %}
                                            <img src="{% static 'images/person.png' %}" alt="img8">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'profile-details' photo.user.pk %}" class="user-details-name">
                            {{ photo.user.profile.get_profile_names }}
                        </a>
                        <h3 class="photo-location">
                            {% if photo.location %}
                                <span>{{ photo.location }}</span>
                            {% endif %}
                            {% if request.user == photo.user %}
                                <div class="edit-delete-btns">
                                    <a href="{% url 'edit-photo' photo.pk %}">
                                        <img class="edit-img" src="{% static '/images/edit-pen-icon-6.jpg' %}" alt="edit button">
                                    </a>
                                    <a href="{% url 'delete-photo' photo.pk %}">
                                        <img class="bin-img" src="{% static '/images/icon-remove-22.jpg' %}" alt="bin button">
                                    </a>
                                </div>
                            {% endif %}
                        </h3>
                    </div>
                    <!-- End User Details and Image Location Section -->
                </div>
                <div class="imgBx" id="{{ photo.pk }}">
                    <img src="{{ photo.photo.url }}" alt="post" class="cover">
                </div>
                <div class="bottom">
                    <div class="actionBtns">
                        <div class="left">
                            <span class="heart">
                                <a href="{% url 'like' photo.pk %}">
                                    {% if photo.has_liked %}
                                        <i class="fa-solid fa-heart" style="color: #ed4040;"></i>
                                    {% else %}
                                        <i class="fa-regular fa-heart"></i>
                                    {% endif %}
                                </a>
                            </span>
                            <a href="{% url 'share' photo.pk %}">
                                <i class="fa-solid fa-share"></i>
                            </a>
                        </div>
                    </div>
                    <p class="likes">{{ likes.count }} likes</p>
                    {% for pet in photo.tagged_pets.all %}
                        <a href="{% url 'details-pet' pet.user.pk pet.slug %}">
                            <p class="message"><b>{{ pet.name }}</b></p>
                        </a>
                    {% endfor %}
                    <h5 class="postTime">{{ photo.date_of_publication }}</h5>
                    {% for comment in comments %}
                        <div class="comments">
                            <div class="top">
                                <div class="userDetails">
                                    <div class="comment-data">
                                        <div class="profilepic">
                                            <div class="profile_img">
                                                <div class="image">
                                                    <img src="{% static 'images/person.png' %}" alt="img8">
                                                </div>
                                            </div>
                                        </div>
                                        <p>
                                            <a href="{% url 'profile-details' comment.to_photo.user.pk %}">
                                                {{ comment.to_photo.user.profile.get_profile_names }}
                                            </a>
                                            {{ comment.text }}
                                        </p>
                                    </div>
                                    <span>{{ comment.date_time_of_publication }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="addComments">
                    <form method="post" action="{% url 'comment' photo.pk %}">
                        <label for="id_body">Body:</label>
                        {% csrf_token %}
                        {{ comment_form }}
                        <button type="submit">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
